<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="author" content="Andrew Lehmann" />
   <meta name="readability-verification" content="QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/>

   <meta name="description" content="{{ page.description }}" />
   <link rel="canonical" href="https://andrewlehmann.ca{{ page.url | replace: 'index.html', '' }}" />
   <meta name="robots" content="index, follow" />

   <meta property="og:title" content="{{ page.title }}" />
   <meta property="og:description" content="{{ page.description }}" />
   <meta property="og:url" content="https://andrewlehmann.ca{{ page.url | replace: 'index.html', '' }}" />
   <meta property="og:type" content="website" />
   <meta property="og:site_name" content="Andrew Lehmann" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
    <a href="/">Andrew Lehmann</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}

  <div class="footer">
    </div>
    <div class="contact">
      <p>
        <a href="https://www.physics.utoronto.ca/members/lehmann-andrew/">Department profile</a></a><br />
      </p>
    </div>
  </div>
</div>


<!-- ClickTale Bottom part -->

<!-- ClickTale end of Bottom part -->

<!-- Google Analytics -->

<!-- Google Analytics end -->

</body>
</html>
